.page {
  background-color: white;
  max-width: 5120px;
}

.page__section {
  padding: 0 3rem;
}

.header {
  height: 75vh;
  overflow: hidden;
  background-image: url("../images/home.jpg");
  background-position: 0 bottom;
  background-size: cover;
}

.nav {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__container {
  background-color: #f7f5e1;
  margin: 3rem 6rem 0;
}

.nav__logo-title {
  font-size: 2rem;
  padding: 0 0 0 0.5rem;
  font-family: "roboto", sans-serif, "arial";
  font-weight: 300;
}

.nav__list {
  width: 50%;
  padding: 0 13rem 0 3rem;
  font-size: 2rem;
  font-family: "roboto", sans-serif, "arial";
  font-weight: 300;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__link {
  display: flex;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.sparkle__logo-img {
  width: 2rem;
  height: 2rem;
  padding: 0 0 0 6rem;
}
